@use "@/styles/mixins" as m;
@use "@/styles/tokens" as t;

.field {
  display: flex;
  flex-direction: column;
  gap: m.fluid(4, 6);
}

.input {
  width: 100%;
  height: 52px;
  padding: 0 m.fluid(8, 12);
  font-size: m.fluid(18, 20);
  border-radius: m.radius(md);
  border: 1px solid #bbb;
  background: #fff;
  transition: background 0.2s ease, border-color 0.2s ease;

  &::placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:focus {
    outline: none;
    border: 2px solid m.color(primary);
    background: m.color(primary-10);
  }

  &:not(:placeholder-shown) {
    background: m.color(primary-50);
  }
}

.errorInput {
  border-color: m.color(red);
}

.errorText {
  color: m.color(red);
  font-size: 14px;
}
