@use "@/styles/mixins" as m;
@use "@/styles/tokens" as t;

.field {
  display: flex;
  flex-direction: column;
  gap: m.fluid(4, 6);
}

.input {
  width: 100%;
  height: 52px;
  padding: 0 m.fluid(8, 12);
  font-size: m.fluid(18, 20);
  border: 1px solid #bbb;
  border-radius: m.radius(md);
  background: #fff;

  &::placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: m.color(primary);
  }
}

.errorInput {
  border-color: m.color(red);
}

.errorText {
  color: m.color(red);
  font-size: 14px;
}
