@use "@/styles/mixins" as m;
@use "@/styles/tokens" as t;

.header {
  background: #fff;
  padding-block: m.fluid(40, 80);
  text-align: center;
}

.kicker {
  font-size: m.fluid(16, 24);
  font-weight: 600;
  margin-bottom: m.fluid(4, 6);
  background: m.color(primary);
  border-radius: m.radius(pill);
  color: #fff;
  display: block;
  padding-block: m.space(4);
  padding-inline: m.fluid(18, 40);
  width: 100%;
}

.title {
  font-size: m.fluid(28, 48);
  font-weight: 800;
  margin-bottom: 18px;
  margin-block: m.fluid(16, 24);
  margin-inline: auto;
  width: min(800px, 100%);
  height: auto;
  .span {
    font-size: m.fluid(24, 32);
    display: block;
    font-weight: 600;
    margin-top: m.fluid(4, 6);
    letter-spacing: 0.1em;
  }
}
