@use "@/styles/mixins" as m;
@use "@/styles/tokens" as t;

.header {
  background: #fff;
  padding-block: m.fluid(40, 80);

  .inner {
    font-size: m.fluid(32, 40);
    text-align: center;
    font-weight: 600;
  }
}
