@use "@/styles/mixins" as m;
@use "@/styles/tokens" as t;

.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-pad);
  @include m.mq(md) {
    padding-inline: m.space(32);
  }
}
