@use "@/styles/tokens" as t;
@use "@/styles/mixins" as m;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);
}
h1 {
  font-size: fluid(28, 48);
  line-height: 1.2;
}

h2 {
  font-size: fluid(22, 32);
  line-height: 1.3;
}
h3 {
  font-size: fluid(22, 32);
  line-height: 1.3;
}

p,
li {
  font-family: var(--font-body);
  font-size: m.rem(16);
  font-weight: 500;
  color: var(--color-text);
}
span {
  font-family: var(--font-body);
}
